<mat-toolbar color="primary" class="d-flex justify-content-between">
  <div>
    <a routerLink="/" class="text-white text-decoration-none fw-bold fs-4">E-Shop</a>
    <a routerLink="/products" mat-button class="ms-3 text-white">Products</a>
    <a routerLink="/admin/products" mat-button *ngIf="isAdmin" class="ms-2 text-white">Manage</a>
  </div>

  <div>
    <ng-container *ngIf="currentUser; else notLoggedIn">
      <span class="me-3 text-white align-middle">Welcome, {{ currentUser.username }}!</span>
      <a routerLink="/cart" mat-icon-button class="text-white me-2" aria-label="Shopping Cart">
        <mat-icon>shopping_cart</mat-icon>
      </a>
      <a routerLink="/orders" mat-button class="me-2 text-white">Orders</a>
      <button mat-raised-button color="accent" (click)="logout()">Logout</button>
    </ng-container>
    <ng-template #notLoggedIn>
      <a routerLink="/auth/login" mat-button class="text-white">Login</a>
      <a routerLink="/auth/register" mat-raised-button color="accent" class="ms-2">Register</a>
    </ng-template>
  </div>
</mat-toolbar>
